<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Lead</title>
</head>
<body>
    <h1>Detalhes da Lead</h1>
    <p>Nome: {{ lead.name }}</p>
    <p>Email: {{ lead.email }}</p>
    <p>Telefone: {{ lead.phone }}</p>
    <p>Quilometragem: {{ lead.mileage }}</p>
   
    <p>Preço Original: R$ {{ lead.original_price }}</p>
<p>Preço com Desconto: R$ {{ lead.price }}</p>
    <p>Marca {{ lead.brand }}</p>
    <p>Modelo {{ lead.model }}</p>
    <p>Combustivel {{ lead.fuel }}</p>
    <p>Year {{ lead.year }}</p>
</body>
</html>
