{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Selecione a Marca</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% for brand in brands %}
            <button type="submit" name="brand_id" value="{{ brand.id }}">
                {{ brand.brand }}
                {% if brand.image %}
                    <img src="{{ brand.image.url }}" alt="{{ brand.brand }}">
                {% else %}
                    <!-- Pode colocar uma imagem padrão ou simplesmente não mostrar nada -->
                    <img src="{% static 'path/to/default/image.png' %}" alt="Imagem padrão">
                {% endif %}
            </button>
        {% endfor %}
    </form>
</body>
</html>
